/* #region math */
/* #endregion */
/* #region fonts*/
@font-face {
  font-family: "Product Sans";
  src: url("./fonts/Product Sans Regular.ttf") format("truetype");
}

/* #endregion */
/*#region DELETE! */
/*#endregion*/
/*#region body*/
* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

body {
  background-color: #121212;
}

/*#endregion*/
/* #region header*/
header {
  margin: 2.34375vw 3.125vw 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 12.14844vw;
}

nav a {
  color: #ffffff;
  font-family: "Product Sans", sans-serif;
  font-size: 0.625vw;
  font-weight: 400;
  letter-spacing: 0.02734vw;
  line-height: 1.25vw;
}

header img {
  margin-top: 0.27344vw;
  width: 2.57812vw;
  height: 0.78125vw;
}

@media screen and (max-width: 1920px) {
  header {
    margin: 3.125vw 4.16667vw 0px;
  }
  nav {
    width: 16.19792vw;
  }
  nav a {
    font-size: 0.83333vw;
    letter-spacing: 0.03646vw;
    line-height: 1.66667vw;
  }
  header img {
    margin-top: 0.36458vw;
    width: 3.4375vw;
    height: 1.04167vw;
  }
}

@media screen and (max-width: 1680px) {
  header {
    margin: 3.57143vw 4.7619vw 0px;
  }
  nav {
    width: 18.5119vw;
  }
  nav a {
    font-size: 0.95238vw;
    letter-spacing: 0.04167vw;
    line-height: 1.90476vw;
  }
  header img {
    margin-top: 0.41667vw;
    width: 3.92857vw;
    height: 1.19048vw;
  }
}

@media screen and (max-width: 1440px) {
  header {
    margin: 4.16667vw 5.55556vw 0px;
  }
  nav {
    width: 21.59722vw;
  }
  nav a {
    font-size: 1.11111vw;
    letter-spacing: 0.04861vw;
    line-height: 2.22222vw;
  }
  header img {
    margin-top: 0.48611vw;
    width: 4.58333vw;
    height: 1.38889vw;
  }
}

@media screen and (max-width: 1366px) {
  header {
    margin: 4.39239vw 5.85652vw 0px;
  }
  nav {
    width: 22.7672vw;
  }
  nav a {
    font-size: 1.1713vw;
    letter-spacing: 0.05124vw;
    line-height: 2.34261vw;
  }
  header img {
    margin-top: 0.51245vw;
    width: 4.83163vw;
    height: 1.46413vw;
  }
}

@media screen and (max-width: 1280px) {
  header {
    margin: 4.6875vw 6.25vw 0px;
  }
  nav {
    width: 24.29688vw;
  }
  nav a {
    font-size: 1.25vw;
    letter-spacing: 0.05469vw;
    line-height: 2.5vw;
  }
  header img {
    margin-top: 0.54688vw;
    width: 5.15625vw;
    height: 1.5625vw;
  }
}

@media screen and (max-width: 1024px) {
  header {
    margin: 5.85938vw 3.90625vw 0px;
  }
  nav {
    width: 30.37109vw;
  }
  nav a {
    font-size: 1.5625vw;
    letter-spacing: 0.06836vw;
    line-height: 3.125vw;
  }
  header img {
    margin-top: 0.68359vw;
    width: 6.44531vw;
    height: 1.95312vw;
  }
}

@media screen and (max-width: 1000px) {
  header {
    margin: 6vw 4vw 0px;
  }
  nav {
    width: 31.1vw;
  }
  nav a {
    font-size: 1.6vw;
    letter-spacing: 0.07vw;
    line-height: 3.2vw;
  }
  header img {
    margin-top: 0.7vw;
    width: 6.6vw;
    height: 2vw;
  }
}

@media screen and (max-width: 759px) {
  header {
    margin: 5.28169vw 5.28169vw 0px;
  }
  nav {
    width: 44.89437vw;
  }
  nav a {
    font-size: 2.8169vw;
    letter-spacing: 0.12324vw;
    line-height: 5.6338vw;
  }
  header img {
    margin-top: 1.23239vw;
    width: 11.61972vw;
    height: 3.52113vw;
  }
}

@media screen and (max-width: 567px) {
  header {
    margin: 4.26667vw 4.26667vw 0px;
  }
  nav {
    width: 50.66667vw;
  }
  nav a {
    font-size: 3.2vw;
    letter-spacing: initial;
    line-height: 5.33333vw;
  }
  header img {
    margin-top: 0.53333vw;
    width: 14.13333vw;
    height: 4.26667vw;
  }
}

@media screen and (max-width: 374px) {
  header {
    margin: 4.44444vw 4.44444vw 0px;
  }
  nav {
    width: 52.77778vw;
  }
  nav a {
    font-size: 3.33333vw;
    line-height: 5.55556vw;
  }
  header img {
    margin-top: 0.55556vw;
    width: 14.72222vw;
    height: 4.44444vw;
  }
}

@media screen and (max-width: 359px) {
  header {
    margin: 5vw 5vw 0px;
  }
  nav {
    width: 59.375vw;
  }
  nav a {
    font-size: 3.75vw;
    line-height: 6.25vw;
  }
  header img {
    margin-top: 0.625vw;
    width: 16.5625vw;
    height: 5vw;
  }
}

/* #endregion */
/* #region Section 1*/
.first-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  height: 21.875vw;
  border-bottom: 1px solid rgba(151, 151, 151, 0.9);
  width: 100%;
}

.first-section .text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-left: 35.15625vw;
}

.first-section .text h1 {
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  font-size: 1.71875vw;
  font-weight: 800;
  letter-spacing: 0.03906vw;
  line-height: 2.5vw;
  text-transform: uppercase;
  width: 18.67188vw;
}

.off {
  margin-top: 6.25vw;
}

.first-section .text p {
  color: #ffffff;
  font-family: "Product Sans";
  font-size: 0.625vw;
  font-weight: 400;
  letter-spacing: 0.02734vw;
  line-height: 1.25vw;
  width: 31.25vw;
  margin-top: 2.53906vw;
}

.first-section hr {
  position: absolute;
  width: 100vw;
  height: 0;
  left: 0;
  border: none;
}

.first-section hr:nth-child(2) {
  top: 13.47656vw;
  border-top: 1px solid rgba(151, 151, 151, 0.1);
}

.first-section hr:nth-child(3) {
  top: 14.76562vw;
  border-top: 1px solid rgba(151, 151, 151, 0.15);
}

.first-section hr:nth-child(4) {
  top: 16.36719vw;
  border-top: 1px solid rgba(151, 151, 151, 0.2);
}

.first-section hr:nth-child(5) {
  top: 18.28125vw;
  border-top: 1px solid rgba(151, 151, 151, 0.3);
}

.first-section hr:nth-child(6) {
  top: 20.42969vw;
  border-top: 1px solid rgba(151, 151, 151, 0.5);
}

.first-section hr:nth-child(7) {
  top: 22.92969vw;
  border-top: 1px solid rgba(151, 151, 151, 0.7);
}

@media screen and (max-width: 1920px) {
  .first-section {
    height: 28.80208vw;
  }
  .first-section .text {
    margin-left: 30.20833vw;
  }
  .first-section .text h1 {
    width: 24.89583vw;
    font-size: 2.29167vw;
    letter-spacing: 0.05208vw;
    line-height: 3.33333vw;
  }
  .off {
    margin-top: 8.33333vw;
  }
  .first-section .text p {
    margin-top: 3.38542vw;
    width: 41.66667vw;
    font-size: 0.83333vw;
    letter-spacing: 0.03646vw;
    line-height: 1.66667vw;
  }
  .first-section hr:nth-child(2) {
    top: 17.96875vw;
  }
  .first-section hr:nth-child(3) {
    top: 19.6875vw;
  }
  .first-section hr:nth-child(4) {
    top: 21.82292vw;
  }
  .first-section hr:nth-child(5) {
    top: 24.375vw;
  }
  .first-section hr:nth-child(6) {
    top: 27.23958vw;
  }
  .first-section hr:nth-child(7) {
    top: 30.57292vw;
  }
}

@media screen and (max-width: 1680px) {
  .first-section {
    height: 33.33333vw;
  }
  .first-section .text {
    margin-left: 27.38095vw;
  }
  .first-section .text h1 {
    width: 28.45238vw;
    font-size: 2.61905vw;
    letter-spacing: 0.05952vw;
    line-height: 3.80952vw;
  }
  .off {
    margin-top: 9.52381vw;
  }
  .first-section .text p {
    margin-top: 3.86905vw;
    width: 47.61905vw;
    font-size: 0.95238vw;
    letter-spacing: 0.04167vw;
    line-height: 1.90476vw;
  }
  .first-section hr:nth-child(2) {
    top: 20.53571vw;
  }
  .first-section hr:nth-child(3) {
    top: 22.5vw;
  }
  .first-section hr:nth-child(4) {
    top: 24.94048vw;
  }
  .first-section hr:nth-child(5) {
    top: 27.85714vw;
  }
  .first-section hr:nth-child(6) {
    top: 31.13095vw;
  }
  .first-section hr:nth-child(7) {
    top: 34.94048vw;
  }
}

@media screen and (max-width: 1440px) {
  .first-section {
    height: 38.88889vw;
  }
  .first-section .text {
    margin-left: 31.94444vw;
  }
  .first-section .text h1 {
    width: 33.19444vw;
    font-size: 3.05556vw;
    letter-spacing: 0.06944vw;
    line-height: 4.44444vw;
  }
  .off {
    margin-top: 11.11111vw;
  }
  .first-section .text p {
    margin-top: 4.51389vw;
    width: 39.02778vw;
    font-size: 1.11111vw;
    letter-spacing: 0.04861vw;
    line-height: 2.22222vw;
  }
  .first-section hr:nth-child(2) {
    top: 23.95833vw;
  }
  .first-section hr:nth-child(3) {
    top: 26.25vw;
  }
  .first-section hr:nth-child(4) {
    top: 29.09722vw;
  }
  .first-section hr:nth-child(5) {
    top: 32.5vw;
  }
  .first-section hr:nth-child(6) {
    top: 36.31944vw;
  }
  .first-section hr:nth-child(7) {
    top: 40.76389vw;
  }
}

@media screen and (max-width: 1366px) {
  .first-section {
    height: 40.99561vw;
  }
  .first-section .text {
    margin-left: 28.25769vw;
  }
  .first-section .text h1 {
    width: 34.99268vw;
    font-size: 3.22108vw;
    letter-spacing: 0.07321vw;
    line-height: 4.68521vw;
  }
  .off {
    margin-top: 11.71303vw;
  }
  .first-section .text p {
    margin-top: 4.75842vw;
    width: 41.14202vw;
    font-size: 1.1713vw;
    letter-spacing: 0.05124vw;
    line-height: 2.34261vw;
  }
  .first-section hr:nth-child(2) {
    top: 25.25622vw;
  }
  .first-section hr:nth-child(3) {
    top: 27.67204vw;
  }
  .first-section hr:nth-child(4) {
    top: 30.6735vw;
  }
  .first-section hr:nth-child(5) {
    top: 34.26061vw;
  }
  .first-section hr:nth-child(6) {
    top: 38.28697vw;
  }
  .first-section hr:nth-child(7) {
    top: 42.97218vw;
  }
}

@media screen and (max-width: 1280px) {
  .first-section {
    height: 43.75vw;
  }
  .first-section .text {
    margin-left: 23.4375vw;
  }
  .first-section .text h1 {
    width: 37.34375vw;
    font-size: 3.4375vw;
    letter-spacing: 0.07812vw;
    line-height: 5vw;
  }
  .off {
    margin-top: 12.5vw;
  }
  .first-section .text p {
    margin-top: 5.07812vw;
    width: 43.90625vw;
    font-size: 1.25vw;
    letter-spacing: 0.05469vw;
    line-height: 2.5vw;
  }
  .first-section hr:nth-child(2) {
    top: 26.95312vw;
  }
  .first-section hr:nth-child(3) {
    top: 29.53125vw;
  }
  .first-section hr:nth-child(4) {
    top: 32.73438vw;
  }
  .first-section hr:nth-child(5) {
    top: 36.5625vw;
  }
  .first-section hr:nth-child(6) {
    top: 40.85938vw;
  }
  .first-section hr:nth-child(7) {
    top: 45.85938vw;
  }
}

@media screen and (max-width: 1024px) {
  .first-section {
    height: 54.6875vw;
  }
  .first-section .text {
    margin-left: 16.79688vw;
  }
  .first-section .text h1 {
    width: 46.67969vw;
    font-size: 4.29688vw;
    letter-spacing: 0.09766vw;
    line-height: 6.25vw;
  }
  .off {
    margin-top: 15.625vw;
  }
  .first-section .text p {
    margin-top: 6.34766vw;
    width: 54.88281vw;
    font-size: 1.5625vw;
    letter-spacing: 0.06836vw;
    line-height: 3.125vw;
  }
  .first-section hr:nth-child(2) {
    top: 33.69141vw;
  }
  .first-section hr:nth-child(3) {
    top: 36.91406vw;
  }
  .first-section hr:nth-child(4) {
    top: 40.91797vw;
  }
  .first-section hr:nth-child(5) {
    top: 45.70312vw;
  }
  .first-section hr:nth-child(6) {
    top: 51.07422vw;
  }
  .first-section hr:nth-child(7) {
    top: 57.32422vw;
  }
}

@media screen and (max-width: 1000px) {
  .first-section {
    height: 50.6vw;
  }
  .first-section .text {
    margin-left: 4vw;
  }
  .first-section .text h1 {
    width: 47.8vw;
    font-size: 4.4vw;
    letter-spacing: 0.1vw;
    line-height: 6.4vw;
  }
  .off {
    margin-top: 16vw;
  }
  .first-section .text p {
    margin-top: 4.5vw;
    width: 78.1vw;
    font-size: 1.6vw;
    letter-spacing: 0.07vw;
    line-height: 3.2vw;
  }
  .first-section hr:nth-child(2) {
    top: 29.1vw;
  }
  .first-section hr:nth-child(3) {
    top: 32.4vw;
  }
  .first-section hr:nth-child(4) {
    top: 36.5vw;
  }
  .first-section hr:nth-child(5) {
    top: 41.4vw;
  }
  .first-section hr:nth-child(6) {
    top: 46.9vw;
  }
  .first-section hr:nth-child(7) {
    top: 53.3vw;
  }
}

@media screen and (max-width: 759px) {
  .first-section {
    height: 89.08451vw;
  }
  .first-section .text {
    margin-left: 5.28169vw;
  }
  .first-section .text h1 {
    margin-top: 28.16901vw;
    width: 89.43662vw;
    font-size: 7.74648vw;
    letter-spacing: 0.17606vw;
    line-height: 11.26761vw;
  }
  .off {
    display: none;
  }
  .first-section .text p {
    margin-top: 7.04225vw;
    width: 86.79577vw;
    font-size: 2.8169vw;
    letter-spacing: 0.12324vw;
    line-height: 5.6338vw;
  }
  .first-section hr:nth-child(2) {
    top: 45.9507vw;
  }
  .first-section hr:nth-child(3) {
    top: 51.76056vw;
  }
  .first-section hr:nth-child(4) {
    top: 58.97887vw;
  }
  .first-section hr:nth-child(5) {
    top: 67.60563vw;
  }
  .first-section hr:nth-child(6) {
    top: 77.28873vw;
  }
  .first-section hr:nth-child(7) {
    top: 88.55634vw;
  }
}

@media screen and (max-width: 567px) {
  .first-section {
    height: 81.86667vw;
  }
  .first-section .text {
    margin-left: 18.93333vw;
  }
  .first-section .text h1 {
    margin-top: 21.33333vw;
    width: 44.53333vw;
    font-size: 4.26667vw;
    line-height: 7.46667vw;
    letter-spacing: initial;
  }
  .first-section .text p {
    margin-top: 6.4vw;
    width: 76.8vw;
    font-size: 3.2vw;
    line-height: 5.33333vw;
    letter-spacing: initial;
  }
  .first-section hr:nth-child(2) {
    top: 41.6vw;
  }
  .first-section hr:nth-child(3) {
    top: 45.06667vw;
  }
  .first-section hr:nth-child(4) {
    top: 50.66667vw;
  }
  .first-section hr:nth-child(5) {
    top: 58.4vw;
  }
  .first-section hr:nth-child(6) {
    top: 67.73333vw;
  }
  .first-section hr:nth-child(7) {
    top: 79.46667vw;
  }
}

@media screen and (max-width: 374px) {
  .first-section {
    height: 85.27778vw;
  }
  .first-section .text {
    margin-left: 15.55556vw;
  }
  .first-section .text h1 {
    margin-top: 22.22222vw;
    width: 46.38889vw;
    font-size: 4.44444vw;
    line-height: 7.77778vw;
  }
  .first-section .text p {
    margin-top: 6.66667vw;
    width: 80vw;
    font-size: 3.33333vw;
    line-height: 5.55556vw;
  }
  .first-section hr:nth-child(2) {
    top: 43.33333vw;
  }
  .first-section hr:nth-child(3) {
    top: 46.94444vw;
  }
  .first-section hr:nth-child(4) {
    top: 52.77778vw;
  }
  .first-section hr:nth-child(5) {
    top: 60.83333vw;
  }
  .first-section hr:nth-child(6) {
    top: 70.55556vw;
  }
  .first-section hr:nth-child(7) {
    top: 82.77778vw;
  }
}

@media screen and (max-width: 359px) {
  .first-section {
    height: 95.9375vw;
  }
  .first-section .text {
    margin-left: 5vw;
  }
  .first-section .text h1 {
    margin-top: 25vw;
    width: 52.1875vw;
    font-size: 5vw;
    line-height: 8.75vw;
  }
  .first-section .text p {
    margin-top: 7.5vw;
    width: 90vw;
    font-size: 3.75vw;
    line-height: 6.25vw;
  }
  .first-section hr:nth-child(2) {
    top: 48.75vw;
  }
  .first-section hr:nth-child(3) {
    top: 52.8125vw;
  }
  .first-section hr:nth-child(4) {
    top: 59.375vw;
  }
  .first-section hr:nth-child(5) {
    top: 68.4375vw;
  }
  .first-section hr:nth-child(6) {
    top: 79.375vw;
  }
  .first-section hr:nth-child(7) {
    top: 93.125vw;
  }
}

/* #endregion */
/* #region Section 2*/
.second-section {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 49.6875vw;
}

.video {
  margin: 3.125vw 0 0 32.8125vw;
  width: 40.625vw;
  height: 23.4375vw;
  background-color: #000000;
  border-radius: 0.3125vw;
}

.video h1 {
  color: #ffffff;
  font-family: "Roboto";
  font-size: 1.71875vw;
  font-weight: bold;
  letter-spacing: 0.03906vw;
  line-height: 2.5vw;
  text-transform: uppercase;
  margin: 9.53125vw 0 0 2.34375vw;
}

#playbutton {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 5.07812vw;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0.35156vw 0 0 2.34375vw;
}

#playbutton p {
  color: #ffffff;
  font-family: "Product Sans";
  font-size: 0.625vw;
  font-weight: 400;
  letter-spacing: 0.02734vw;
  line-height: 1.25vw;
  text-transform: uppercase;
}

.second-section .text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 3.125vw 0 0 35.15625vw;
  width: 19.33594vw;
  height: 7.5vw;
}

.second-section .text p {
  color: #ffffff;
  font-family: "Product Sans";
  font-size: 0.625vw;
  font-weight: 400;
  letter-spacing: 0.02734vw;
  line-height: 1.25vw;
}

.second-section .text p:nth-child(2) {
  margin-top: 1.25vw;
}

.second-section .text p:nth-child(3) {
  margin-left: 3.20312vw;
  width: 11.71875vw;
}

@media screen and (max-width: 1920px) {
  .second-section {
    height: 66.25vw;
  }
  .video {
    margin: 4.16667vw 0 0 27.08333vw;
    width: 54.16667vw;
    height: 31.25vw;
    border-radius: 0.41667vw;
  }
  .video h1 {
    font-size: 2.29167vw;
    letter-spacing: 0.05208vw;
    line-height: 3.33333vw;
    margin: 12.70833vw 0 0 3.125vw;
  }
  #playbutton {
    width: 6.77083vw;
    margin: 0.46875vw 0 0 3.125vw;
  }
  #playbutton p {
    font-size: 0.83333vw;
    letter-spacing: 0.03646vw;
    line-height: 1.66667vw;
  }
  .second-section .text {
    margin: 4.16667vw 0 0 30.20833vw;
    width: 25.78125vw;
    height: 10vw;
  }
  .second-section .text p {
    font-size: 0.83333vw;
    letter-spacing: 0.03646vw;
    line-height: 1.66667vw;
  }
  .second-section .text p:nth-child(2) {
    margin-top: 1.66667vw;
  }
  .second-section .text p:nth-child(3) {
    margin-left: 4.27083vw;
    width: 15.625vw;
  }
}

@media screen and (max-width: 1680px) {
  .second-section {
    height: 75.71429vw;
  }
  .video {
    margin: 4.7619vw 0 0 23.80952vw;
    width: 61.90476vw;
    height: 35.71429vw;
    border-radius: 0.47619vw;
  }
  .video h1 {
    font-size: 2.61905vw;
    letter-spacing: 0.05952vw;
    line-height: 3.80952vw;
    margin: 14.52381vw 0 0 3.57143vw;
  }
  #playbutton {
    width: 7.7381vw;
    margin: 0.53571vw 0 0 3.57143vw;
  }
  #playbutton p {
    font-size: 0.95238vw;
    letter-spacing: 0.04167vw;
    line-height: 1.90476vw;
  }
  .second-section .text {
    margin: 4.7619vw 0 0 27.38095vw;
    width: 29.46429vw;
    height: 11.42857vw;
  }
  .second-section .text p {
    font-size: 0.95238vw;
    letter-spacing: 0.04167vw;
    line-height: 1.90476vw;
  }
  .second-section .text p:nth-child(2) {
    margin-top: 1.90476vw;
  }
  .second-section .text p:nth-child(3) {
    margin-left: 4.88095vw;
    width: 17.85714vw;
  }
}

@media screen and (max-width: 1440px) {
  .second-section {
    height: 88.33333vw;
  }
  .video {
    margin: 5.55556vw 0 0 22.22222vw;
    width: 72.22222vw;
    height: 41.66667vw;
    border-radius: 0.55556vw;
  }
  .video h1 {
    font-size: 3.05556vw;
    letter-spacing: 0.06944vw;
    line-height: 4.44444vw;
    margin: 16.94444vw 0 0 9.72222vw;
  }
  #playbutton {
    width: 9.02778vw;
    margin: 0.625vw 0 0 9.72222vw;
  }
  #playbutton p {
    font-size: 1.11111vw;
    letter-spacing: 0.04861vw;
    line-height: 2.22222vw;
  }
  .second-section .text {
    margin: 5.55556vw 0 0 31.94444vw;
    width: 34.375vw;
    height: 13.33333vw;
  }
  .second-section .text p {
    font-size: 1.11111vw;
    letter-spacing: 0.04861vw;
    line-height: 2.22222vw;
  }
  .second-section .text p:nth-child(2) {
    margin-top: 2.22222vw;
  }
  .second-section .text p:nth-child(3) {
    margin-left: 5.69444vw;
    width: 20.83333vw;
  }
}

@media screen and (max-width: 1366px) {
  .second-section {
    height: 93.11859vw;
  }
  .video {
    margin: 5.85652vw 0 0 18.00878vw;
    width: 76.1347vw;
    height: 43.92387vw;
    border-radius: 0.58565vw;
  }
  .video h1 {
    font-size: 3.22108vw;
    letter-spacing: 0.07321vw;
    line-height: 4.68521vw;
    margin: 17.86237vw 0 0 10.2489vw;
  }
  #playbutton {
    width: 9.51684vw;
    margin: 0.65886vw 0 0 10.2489vw;
  }
  #playbutton p {
    font-size: 1.1713vw;
    letter-spacing: 0.05124vw;
    line-height: 2.34261vw;
  }
  .second-section .text {
    margin: 5.85652vw 0 0 28.25769vw;
    width: 36.23719vw;
    height: 14.05564vw;
  }
  .second-section .text p {
    font-size: 1.1713vw;
    letter-spacing: 0.05124vw;
    line-height: 2.34261vw;
  }
  .second-section .text p:nth-child(2) {
    margin-top: 2.34261vw;
  }
  .second-section .text p:nth-child(3) {
    margin-left: 6.00293vw;
    width: 21.96193vw;
  }
}

@media screen and (max-width: 1280px) {
  .second-section {
    height: 99.375vw;
  }
  .video {
    margin: 6.25vw 0 0 12.5vw;
    width: 81.25vw;
    height: 46.875vw;
    border-radius: 0.625vw;
  }
  .video h1 {
    font-size: 3.4375vw;
    letter-spacing: 0.07812vw;
    line-height: 5vw;
    margin: 19.0625vw 0 0 10.9375vw;
  }
  #playbutton {
    width: 10.15625vw;
    margin: 0.70312vw 0 0 10.9375vw;
  }
  #playbutton p {
    font-size: 1.25vw;
    letter-spacing: 0.05469vw;
    line-height: 2.5vw;
  }
  .second-section .text {
    margin: 6.25vw 0 0 23.4375vw;
    width: 38.67188vw;
    height: 15vw;
  }
  .second-section .text p {
    font-size: 1.25vw;
    letter-spacing: 0.05469vw;
    line-height: 2.5vw;
  }
  .second-section .text p:nth-child(2) {
    margin-top: 2.5vw;
  }
  .second-section .text p:nth-child(3) {
    margin-left: 6.40625vw;
    width: 23.4375vw;
  }
}

@media screen and (max-width: 1024px) {
  .second-section {
    height: 123.82812vw;
  }
  .video {
    margin: 7.8125vw 0 0 0;
    width: 100%;
    height: 58.59375vw;
    border-radius: 0.78125vw;
  }
  .video h1 {
    font-size: 4.29688vw;
    letter-spacing: 0.09766vw;
    line-height: 6.25vw;
    margin: 23.82812vw 0 0 16.79688vw;
  }
  #playbutton {
    width: 12.69531vw;
    margin: 0.87891vw 0 0 16.79688vw;
  }
  #playbutton p {
    font-size: 1.5625vw;
    letter-spacing: 0.06836vw;
    line-height: 3.125vw;
  }
  .second-section .text {
    margin: 7.8125vw 0 0 16.79688vw;
    width: 78.32031vw;
    height: 21.875vw;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
  .second-section .text p {
    font-size: 1.5625vw;
    letter-spacing: 0.06836vw;
    line-height: 3.125vw;
  }
  .second-section .text p:nth-child(2) {
    margin-top: 3.125vw;
  }
  .second-section .text p:nth-child(3) {
    margin-top: 3.125vw;
    margin-left: 0;
    width: auto;
  }
}

@media screen and (max-width: 1000px) {
  .second-section {
    height: 131.6vw;
  }
  .video {
    margin: 12.4vw 0 0 0;
    width: 100%;
    height: 60vw;
    border-radius: 0.8vw;
  }
  .video h1 {
    font-size: 4.4vw;
    letter-spacing: 0.1vw;
    line-height: 6.4vw;
    margin: 24.4vw 0 0 4vw;
  }
  #playbutton {
    width: 13vw;
    margin: 0.9vw 0 0 4vw;
  }
  #playbutton p {
    font-size: 1.6vw;
    letter-spacing: 0.07vw;
    line-height: 3.2vw;
  }
  .second-section .text {
    margin: 8vw 0 0 4vw;
    width: 80.2vw;
    height: 22.4vw;
  }
  .second-section .text p {
    font-size: 1.6vw;
    letter-spacing: 0.07vw;
    line-height: 3.2vw;
  }
  .second-section .text p:nth-child(2) {
    margin-top: 3.2vw;
  }
  .second-section .text p:nth-child(3) {
    margin-top: 3.2vw;
  }
}

@media screen and (max-width: 759px) {
  .second-section {
    height: 231.69014vw;
  }
  .video {
    margin: 21.83099vw 0 0 0;
    width: 100%;
    height: 60.03521vw;
    border-radius: 1.40845vw;
  }
  .video h1 {
    font-size: 7.74648vw;
    letter-spacing: 0.17606vw;
    line-height: 11.26761vw;
    margin: 14.43662vw 0 0 5.28169vw;
  }
  #playbutton {
    width: 22.88732vw;
    margin: 3.69718vw 0 0 5.28169vw;
  }
  #playbutton p {
    font-size: 2.8169vw;
    letter-spacing: 0.12324vw;
    line-height: 5.6338vw;
  }
  .second-section .text {
    margin: 14.08451vw 0 0 5.28169vw;
    width: 89.43662vw;
    height: 50.70423vw;
  }
  .second-section .text p {
    font-size: 2.8169vw;
    letter-spacing: 0.12324vw;
    line-height: 5.6338vw;
  }
  .second-section .text p:nth-child(2) {
    margin-top: 5.6338vw;
  }
  .second-section .text p:nth-child(3) {
    margin-top: 5.6338vw;
  }
}

@media screen and (max-width: 567px) {
  .second-section {
    height: 389.33333vw;
  }
  .video {
    margin: 23.46667vw 0 0 18.93333vw;
    width: 81.06667vw;
    height: 48vw;
    border-radius: 0;
  }
  .video h1 {
    position: absolute;
    font-size: 4.26667vw;
    letter-spacing: initial;
    line-height: 7.46667vw;
    margin: 0;
    top: 10.66667vw;
    left: 18.93333vw;
  }
  #playbutton {
    width: 26.4vw;
    margin: 21.33333vw 0 0 27.46667vw;
  }
  #playbutton p {
    font-size: 3.2vw;
    letter-spacing: initial;
    line-height: 5.33333vw;
  }
  .second-section .text {
    margin: 5.33333vw 0 0 18.93333vw;
    width: 76.8vw;
    height: 53.33333vw;
  }
  .second-section .text p {
    font-size: 3.2vw;
    letter-spacing: initial;
    line-height: 5.33333vw;
  }
  .second-section .text p:nth-child(2) {
    margin-top: 8.53333vw;
  }
  .second-section .text p:nth-child(3) {
    margin-top: 8.53333vw;
  }
}

@media screen and (max-width: 374px) {
  .second-section {
    height: 405.55556vw;
  }
  .video {
    margin: 24.44444vw 0 0 15.55556vw;
    width: 84.44444vw;
    height: 50vw;
  }
  .video h1 {
    font-size: 4.44444vw;
    line-height: 7.77778vw;
    top: 11.11111vw;
    left: 15.55556vw;
  }
  #playbutton {
    width: 27.5vw;
    margin: 22.22222vw 0 0 28.61111vw;
  }
  #playbutton p {
    font-size: 3.33333vw;
    line-height: 5.55556vw;
  }
  .second-section .text {
    margin: 5.55556vw 0 0 15.55556vw;
    width: 80vw;
    height: 55.55556vw;
  }
  .second-section .text p {
    font-size: 3.33333vw;
    line-height: 5.55556vw;
  }
  .second-section .text p:nth-child(2) {
    margin-top: 8.88889vw;
  }
  .second-section .text p:nth-child(3) {
    margin-top: 8.88889vw;
  }
}

@media screen and (max-width: 359px) {
  .second-section {
    height: 456.25vw;
  }
  .video {
    margin: 27.5vw 0 0 5vw;
    width: 95vw;
    height: 56.25vw;
  }
  .video h1 {
    font-size: 5vw;
    line-height: 8.75vw;
    top: 12.5vw;
    left: 5vw;
  }
  #playbutton {
    width: 30.9375vw;
    margin: 25vw 0 0 32.1875vw;
  }
  #playbutton p {
    font-size: 3.75vw;
    line-height: 6.25vw;
  }
  .second-section .text {
    margin: 6.25vw 0 0 5vw;
    width: 90vw;
    height: 62.5vw;
  }
  .second-section .text p {
    font-size: 3.75vw;
    line-height: 6.25vw;
  }
  .second-section .text p:nth-child(2) {
    margin-top: 10vw;
  }
  .second-section .text p:nth-child(3) {
    margin-top: 10vw;
  }
}

/* #endregion*/
/* #region Section 3 */
.third-section {
  position: absolute;
  background-color: #f76612;
  width: 71.75781vw;
  height: 62.96875vw;
  top: 68.94531vw;
}

.third-section .text {
  position: absolute;
  margin: 4.84375vw 0 0 35.15625vw;
  z-index: 2;
}

.third-section p {
  color: #121212;
  font-family: "Product Sans";
  font-size: 0.625vw;
  font-weight: 400;
  letter-spacing: 0.03906vw;
  line-height: 0.9375vw;
}

.third-section li {
  color: #121212;
  font-family: "Roboto";
  font-size: 1.32812vw;
  font-weight: 800;
  letter-spacing: 0.01953vw;
  line-height: 2.34375vw;
  text-transform: uppercase;
  width: 14.84375vw;
}

.third-section ul li:nth-child(1) {
  width: 18.04688vw;
  margin-top: 2.22656vw;
}

.third-section ul li:nth-child(2) {
  margin-top: 4.6875vw;
}

.third-section ul li:nth-child(3) {
  margin-top: 23.16406vw;
}

.third-section p:nth-child(1) {
  text-transform: uppercase;
}

.third-section p:nth-child(3) {
  margin-top: 7.30469vw;
}

.third-section p:nth-last-of-type(1) {
  margin-top: 0.35156vw;
  width: 22.30469vw;
}

.lines {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 10vw 0 0 49.57031vw;
}

.background {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.background hr {
  background-color: #121212;
  border: none;
}

.background hr:nth-child(1) {
  width: 3.4375vw;
  height: 0.11719vw;
}

.background hr:nth-child(2) {
  margin-left: 1.79687vw;
  width: 10vw;
  height: 0.11719vw;
}

.background img:nth-child(2) {
  margin: 8.63281vw 0 0 31.71875vw;
  width: 15.3125vw;
  height: 15.9375vw;
  z-index: 3;
}

.background img:nth-child(3) {
  margin: 2.34375vw 0 0 47.30469vw;
  width: 14.0625vw;
  height: 15.27344vw;
}

@media screen and (max-width: 1920px) {
  .third-section {
    width: 81.19792vw;
    height: 83.95833vw;
    top: 91.92708vw;
  }
  .third-section .text {
    margin: 6.45833vw 0 0 30.20833vw;
  }
  .third-section p {
    font-size: 0.83333vw;
    letter-spacing: 0.05208vw;
    line-height: 1.25vw;
  }
  .third-section li {
    font-size: 1.77083vw;
    letter-spacing: 0.02604vw;
    line-height: 3.125vw;
    width: 19.79167vw;
  }
  .third-section ul li:nth-child(1) {
    width: 24.0625vw;
    margin-top: 2.96875vw;
  }
  .third-section ul li:nth-child(2) {
    margin-top: 6.25vw;
  }
  .third-section ul li:nth-child(3) {
    margin-top: 30.88542vw;
  }
  .third-section p:nth-child(3) {
    margin-top: 9.73958vw;
  }
  .third-section p:nth-last-of-type(1) {
    width: 29.73958vw;
    margin-top: 0.46875vw;
  }
  .lines {
    margin: 13.33333vw 0 0 49.42708vw;
  }
  .background hr:nth-child(1) {
    width: 4.58333vw;
    height: 0.15625vw;
  }
  .background hr:nth-child(2) {
    margin-left: 2.39583vw;
    width: 13.33333vw;
    height: 0.15625vw;
  }
  .background img:nth-child(2) {
    margin: 11.51042vw 0 0 25.625vw;
    width: 20.41667vw;
    height: 21.25vw;
    z-index: 3;
  }
  .background img:nth-child(3) {
    margin: 3.125vw 0 0 46.40625vw;
    width: 18.75vw;
    height: 20.36458vw;
  }
}

@media screen and (max-width: 1680px) {
  .third-section {
    width: 85.71429vw;
    height: 95.95238vw;
    top: 105.05952vw;
  }
  .third-section .text {
    margin: 7.38095vw 0 0 27.38095vw;
  }
  .third-section p {
    font-size: 0.95238vw;
    letter-spacing: 0.05952vw;
    line-height: 1.42857vw;
  }
  .third-section li {
    font-size: 2.02381vw;
    letter-spacing: 0.02976vw;
    line-height: 3.57143vw;
    width: 22.61905vw;
  }
  .third-section ul li:nth-child(1) {
    width: 27.5vw;
    margin-top: 3.39286vw;
  }
  .third-section ul li:nth-child(2) {
    margin-top: 7.14286vw;
  }
  .third-section ul li:nth-child(3) {
    margin-top: 35.29762vw;
  }
  .third-section p:nth-child(3) {
    margin-top: 11.13095vw;
  }
  .third-section p:nth-last-of-type(1) {
    width: 33.9881vw;
    margin-top: 0.53571vw;
  }
  .lines {
    margin: 15.2381vw 0 0 49.34524vw;
  }
  .background hr:nth-child(1) {
    width: 5.2381vw;
    height: 0.17857vw;
  }
  .background hr:nth-child(2) {
    margin-left: 2.7381vw;
    width: 15.2381vw;
    height: 0.17857vw;
  }
  .background img:nth-child(2) {
    margin: 13.15476vw 0 0 22.14286vw;
    width: 23.33333vw;
    height: 24.28571vw;
    z-index: 3;
  }
  .background img:nth-child(3) {
    margin: 3.57143vw 0 0 45.89286vw;
    width: 21.42857vw;
    height: 23.27381vw;
  }
}

@media screen and (max-width: 1440px) {
  .third-section {
    width: 94.44444vw;
    height: 111.94444vw;
    top: 122.56944vw;
  }
  .third-section .text {
    margin: 8.61111vw 0 0 31.94444vw;
  }
  .third-section p {
    font-size: 1.11111vw;
    letter-spacing: 0.06944vw;
    line-height: 1.66667vw;
  }
  .third-section li {
    font-size: 2.36111vw;
    letter-spacing: 0.03472vw;
    line-height: 4.16667vw;
    width: 26.38889vw;
  }
  .third-section ul li:nth-child(1) {
    width: 32.08333vw;
    margin-top: 3.95833vw;
  }
  .third-section ul li:nth-child(2) {
    margin-top: 8.33333vw;
  }
  .third-section ul li:nth-child(3) {
    margin-top: 41.18056vw;
  }
  .third-section p:nth-child(3) {
    margin-top: 12.98611vw;
  }
  .third-section p:nth-last-of-type(1) {
    width: 39.65278vw;
    margin-top: 0.625vw;
  }
  .lines {
    margin: 17.77778vw 0 0 57.56944vw;
  }
  .background hr:nth-child(1) {
    width: 6.11111vw;
    height: 0.20833vw;
  }
  .background hr:nth-child(2) {
    margin-left: 3.19444vw;
    width: 17.77778vw;
    height: 0.20833vw;
  }
  .background img:nth-child(2) {
    margin: 15.34722vw 0 0 25.83333vw;
    width: 27.22222vw;
    height: 28.33333vw;
    z-index: 3;
  }
  .background img:nth-child(3) {
    margin: 4.16667vw 0 0 53.54167vw;
    width: 25vw;
    height: 27.15278vw;
  }
}

@media screen and (max-width: 1366px) {
  .third-section {
    width: 99.56076vw;
    height: 118.00878vw;
    top: 129.20937vw;
  }
  .third-section .text {
    margin: 9.0776vw 0 0 28.25769vw;
  }
  .third-section p {
    font-size: 1.1713vw;
    letter-spacing: 0.07321vw;
    line-height: 1.75695vw;
  }
  .third-section li {
    font-size: 2.48902vw;
    letter-spacing: 0.0366vw;
    line-height: 4.39239vw;
    width: 27.81845vw;
  }
  .third-section ul li:nth-child(1) {
    width: 33.82138vw;
    margin-top: 4.17277vw;
  }
  .third-section ul li:nth-child(2) {
    margin-top: 8.78477vw;
  }
  .third-section ul li:nth-child(3) {
    margin-top: 43.41142vw;
  }
  .third-section p:nth-child(3) {
    margin-top: 13.6896vw;
  }
  .third-section p:nth-last-of-type(1) {
    width: 41.80088vw;
    margin-top: 0.65886vw;
  }
  .lines {
    margin: 18.74085vw 0 0 55.27086vw;
  }
  .background hr:nth-child(1) {
    width: 6.44217vw;
    height: 0.21962vw;
  }
  .background hr:nth-child(2) {
    margin-left: 3.3675vw;
    width: 18.74085vw;
    height: 0.21962vw;
  }
  .background img:nth-child(2) {
    margin: 16.17862vw 0 0 21.81552vw;
    width: 28.69693vw;
    height: 29.86823vw;
    z-index: 3;
  }
  .background img:nth-child(3) {
    margin: 4.39239vw 0 0 51.02489vw;
    width: 26.35432vw;
    height: 28.62372vw;
  }
}

@media screen and (max-width: 1280px) {
  .third-section {
    width: 93.75vw;
    height: 125.9375vw;
    top: 137.89062vw;
  }
  .third-section .text {
    margin: 9.6875vw 0 0 23.4375vw;
  }
  .third-section p {
    font-size: 1.25vw;
    letter-spacing: 0.07812vw;
    line-height: 1.875vw;
  }
  .third-section li {
    font-size: 2.65625vw;
    letter-spacing: 0.03906vw;
    line-height: 4.6875vw;
    width: 29.6875vw;
  }
  .third-section ul li:nth-child(1) {
    width: 36.09375vw;
    margin-top: 4.45312vw;
  }
  .third-section ul li:nth-child(2) {
    margin-top: 9.375vw;
  }
  .third-section ul li:nth-child(3) {
    margin-top: 46.32812vw;
  }
  .third-section p:nth-child(3) {
    margin-top: 14.60938vw;
  }
  .third-section p:nth-last-of-type(1) {
    width: 44.60938vw;
    margin-top: 0.70312vw;
  }
  .lines {
    margin: 20vw 0 0 52.26563vw;
  }
  .background hr:nth-child(1) {
    width: 6.875vw;
    height: 0.23438vw;
  }
  .background hr:nth-child(2) {
    margin-left: 3.59375vw;
    width: 20vw;
    height: 0.23438vw;
  }
  .background img:nth-child(2) {
    margin: 17.26562vw 0 0 16.5625vw;
    width: 30.625vw;
    height: 31.875vw;
    z-index: 3;
  }
  .background img:nth-child(3) {
    margin: 4.6875vw 0 0 47.73438vw;
    width: 28.125vw;
    height: 30.54688vw;
  }
}

@media screen and (max-width: 1024px) {
  .third-section {
    width: 100%;
    height: 157.42188vw;
    top: 171.97266vw;
  }
  .third-section .text {
    margin: 12.10938vw 0 0 16.89453vw;
  }
  .third-section p {
    font-size: 1.5625vw;
    letter-spacing: 0.09766vw;
    line-height: 2.34375vw;
  }
  .third-section li {
    font-size: 3.32031vw;
    letter-spacing: 0.04883vw;
    line-height: 5.85938vw;
    width: 37.10938vw;
  }
  .third-section ul li:nth-child(1) {
    width: 45.11719vw;
    margin-top: 5.56641vw;
  }
  .third-section ul li:nth-child(2) {
    margin-top: 11.71875vw;
  }
  .third-section ul li:nth-child(3) {
    margin-top: 57.91016vw;
  }
  .third-section p:nth-child(3) {
    margin-top: 18.26172vw;
  }
  .third-section p:nth-last-of-type(1) {
    width: 55.76172vw;
    margin-top: 0.87891vw;
  }
  .lines {
    margin: 25vw 0 0 52.83203vw;
  }
  .background hr:nth-child(1) {
    width: 8.59375vw;
    height: 0.29297vw;
  }
  .background hr:nth-child(2) {
    margin-left: 4.49219vw;
    width: 25vw;
    height: 0.29297vw;
  }
  .background img:nth-child(2) {
    margin: 21.58203vw 0 0 8.20312vw;
    width: 38.28125vw;
    height: 39.84375vw;
    z-index: 3;
  }
  .background img:nth-child(3) {
    margin: 5.85938vw 0 0 47.16797vw;
    width: 35.15625vw;
    height: 38.18359vw;
  }
}

@media screen and (max-width: 1000px) {
  .third-section {
    width: 96vw;
    height: 140.2vw;
    top: 175.1vw;
  }
  .third-section .text {
    margin: 12.4vw 0 0 4vw;
  }
  .third-section p {
    font-size: 1.6vw;
    letter-spacing: 0.1vw;
    line-height: 2.4vw;
  }
  .third-section li {
    font-size: 3.4vw;
    letter-spacing: 0.05vw;
    line-height: 6vw;
    width: 38vw;
  }
  .third-section ul li:nth-child(1) {
    width: 46.2vw;
    margin-top: 3.7vw;
  }
  .third-section ul li:nth-child(2) {
    margin-top: 18.1vw;
  }
  .third-section ul li:nth-child(3) {
    margin-top: 31.1vw;
  }
  .third-section p:nth-child(3) {
    margin-top: 19.1vw;
  }
  .third-section p:nth-last-of-type(1) {
    width: 57.1vw;
    margin-top: 0.9vw;
  }
  .lines {
    margin: 24.5vw 0 0 40.9vw;
  }
  .background hr:nth-child(1) {
    width: 8.8vw;
    height: 0.3vw;
  }
  .background hr:nth-child(2) {
    margin-left: 4.6vw;
    width: 25.6vw;
    height: 0.3vw;
  }
  .background img:nth-child(2) {
    margin: 8vw 0 0 55.7vw;
    width: 39.2vw;
    height: 40.8vw;
    z-index: 3;
  }
  .background img:nth-child(3) {
    margin: 1.6vw 0 0 55.7vw;
    width: 36vw;
    height: 39.1vw;
  }
}

@media screen and (max-width: 759px) {
  .third-section {
    width: 100%;
    height: 246.83099vw;
    top: 268.66197vw;
  }
  .third-section .text {
    margin: 21.83099vw 0 0 5.28169vw;
  }
  .third-section p {
    font-size: 2.8169vw;
    letter-spacing: 0.17606vw;
    line-height: 4.22535vw;
  }
  .third-section li {
    font-size: 5.98592vw;
    letter-spacing: 0.08803vw;
    line-height: 10.56338vw;
    width: 56.33803vw;
  }
  .third-section ul li:nth-child(1) {
    width: 41.72535vw;
    margin-top: 6.51408vw;
  }
  .third-section ul li:nth-child(2) {
    margin-top: 34.33099vw;
  }
  .third-section ul li:nth-child(3) {
    margin-top: 53.34507vw;
  }
  .third-section p:nth-child(3) {
    margin-top: 33.62676vw;
  }
  .third-section p:nth-last-of-type(1) {
    width: 89.43662vw;
    margin-top: 1.58451vw;
  }
  .lines {
    margin: 54.22535vw 0 0 5.28169vw;
  }
  .background hr:nth-child(1) {
    width: 15.49296vw;
    height: 0.52817vw;
  }
  .background hr:nth-child(2) {
    margin-left: 8.09859vw;
    width: 45.07042vw;
    height: 0.52817vw;
  }
  .background img:nth-child(2) {
    margin: 14.08451vw 0 0 30.80986vw;
    width: 69.01408vw;
    height: 71.83099vw;
    z-index: 1;
  }
  .background img:nth-child(3) {
    margin: 2.8169vw 0 0 33.09859vw;
    width: 63.38028vw;
    height: 68.83803vw;
  }
}

@media screen and (max-width: 567px) {
  .third-section {
    height: 243.2vw;
    top: 237.86667vw;
  }
  .third-section .text {
    margin: 16vw 0 0 18.93333vw;
    width: initial;
  }
  .third-section p {
    font-size: 3.2vw;
    letter-spacing: initial;
    line-height: 5.33333vw;
  }
  .third-section li {
    font-size: 4.26667vw;
    letter-spacing: initial;
    line-height: 7.46667vw;
    width: 39.2vw;
  }
  .third-section ul li:nth-child(1) {
    width: 29.06667vw;
    margin-top: 9.86667vw;
  }
  .third-section ul li:nth-child(2) {
    margin-top: 37.33333vw;
  }
  .third-section ul li:nth-child(3) {
    margin-top: 56.53333vw;
  }
  .third-section p:nth-child(3) {
    margin-top: 37.33333vw;
  }
  .third-section p:nth-last-of-type(1) {
    width: 76.8vw;
    margin-top: 3.46667vw;
  }
  .lines {
    margin: 46.4vw 0 0 18.93333vw;
  }
  .background hr:nth-child(1) {
    width: 11.46667vw;
    height: 0.8vw;
  }
  .background hr:nth-child(2) {
    margin-left: 5.06667vw;
    width: 31.46667vw;
    height: 0.8vw;
  }
  .background img:nth-child(2) {
    margin: 16vw 0 0 37.33333vw;
    width: 65.6vw;
    height: 70.4vw;
    z-index: 1;
  }
  .background img:nth-child(3) {
    margin: 2.8169vw 0 0 33.09859vw;
    width: 63.38028vw;
    height: 68.83803vw;
  }
}

/* #endregion */
/* #region Section 4 */
.forth-section {
  height: 96.875vw;
  background-color: #edeef0;
}

.forth-section .text {
  padding: 61.5625vw 0 0 35.3125vw;
}

.forth-section h1 {
  color: #121212;
  font-family: "Roboto";
  font-size: 1.32812vw;
  font-weight: 800;
  letter-spacing: 0.01953vw;
  line-height: 2.34375vw;
  text-transform: uppercase;
}

ul li:nth-child(1) h1 {
  margin-top: 2.34375vw;
}

ul li:nth-child(2) h1 {
  margin-top: 2.5vw;
}

ul li:nth-child(3) h1 {
  margin-top: 2.77344vw;
}

.forth-section p {
  color: #121212;
  font-family: "Product Sans";
  font-size: 0.625vw;
  font-weight: 400;
  letter-spacing: 0.03906vw;
  line-height: 0.9375vw;
}

@media screen and (max-width: 1920px) {
  .forth-section {
    height: 129.16667vw;
  }
  .forth-section .text {
    padding: 82.08333vw 0 0 30.20833vw;
  }
  .forth-section h1 {
    font-size: 1.77083vw;
    letter-spacing: 0.02604vw;
    line-height: 3.125vw;
  }
  ul li:nth-child(1) h1 {
    margin-top: 3.125vw;
  }
  ul li:nth-child(2) h1 {
    margin-top: 3.33333vw;
  }
  ul li:nth-child(3) h1 {
    margin-top: 3.69792vw;
  }
  .forth-section p {
    font-size: 0.83333vw;
    letter-spacing: 0.05208vw;
    line-height: 1.25vw;
  }
}

@media screen and (max-width: 1680px) {
  .forth-section {
    height: 147.61905vw;
  }
  .forth-section .text {
    padding: 93.80952vw 0 0 27.38095vw;
  }
  .forth-section h1 {
    font-size: 2.02381vw;
    letter-spacing: 0.02976vw;
    line-height: 3.57143vw;
  }
  ul li:nth-child(1) h1 {
    margin-top: 3.57143vw;
  }
  ul li:nth-child(2) h1 {
    margin-top: 3.80952vw;
  }
  ul li:nth-child(3) h1 {
    margin-top: 4.22619vw;
  }
  .forth-section p {
    font-size: 0.95238vw;
    letter-spacing: 0.05952vw;
    line-height: 1.42857vw;
  }
}

@media screen and (max-width: 1440px) {
  .forth-section {
    height: 172.22222vw;
  }
  .forth-section .text {
    padding: 109.44444vw 0 0 31.94444vw;
  }
  .forth-section h1 {
    font-size: 2.36111vw;
    letter-spacing: 0.03472vw;
    line-height: 4.16667vw;
  }
  ul li:nth-child(1) h1 {
    margin-top: 4.16667vw;
  }
  ul li:nth-child(2) h1 {
    margin-top: 4.44444vw;
  }
  ul li:nth-child(3) h1 {
    margin-top: 4.93056vw;
  }
  .forth-section p {
    font-size: 1.11111vw;
    letter-spacing: 0.06944vw;
    line-height: 1.66667vw;
  }
}

@media screen and (max-width: 1366px) {
  .forth-section {
    height: 181.55198vw;
  }
  .forth-section .text {
    padding: 115.37335vw 0 0 28.25769vw;
  }
  .forth-section h1 {
    font-size: 2.48902vw;
    letter-spacing: 0.0366vw;
    line-height: 4.39239vw;
  }
  ul li:nth-child(1) h1 {
    margin-top: 4.39239vw;
  }
  ul li:nth-child(2) h1 {
    margin-top: 4.68521vw;
  }
  ul li:nth-child(3) h1 {
    margin-top: 5.19766vw;
  }
  .forth-section p {
    font-size: 1.1713vw;
    letter-spacing: 0.07321vw;
    line-height: 1.75695vw;
  }
}

@media screen and (max-width: 1280px) {
  .forth-section {
    height: 193.75vw;
  }
  .forth-section .text {
    padding: 123.125vw 0 0 23.4375vw;
  }
  .forth-section h1 {
    font-size: 2.65625vw;
    letter-spacing: 0.03906vw;
    line-height: 4.6875vw;
  }
  ul li:nth-child(1) h1 {
    margin-top: 4.6875vw;
  }
  ul li:nth-child(2) h1 {
    margin-top: 5vw;
  }
  ul li:nth-child(3) h1 {
    margin-top: 5.54688vw;
  }
  .forth-section p {
    font-size: 1.25vw;
    letter-spacing: 0.07812vw;
    line-height: 1.875vw;
  }
}

@media screen and (max-width: 1024px) {
  .forth-section {
    height: 242.1875vw;
  }
  .forth-section .text {
    padding: 153.90625vw 0 0 16.79688vw;
  }
  .forth-section h1 {
    font-size: 3.32031vw;
    letter-spacing: 0.04883vw;
    line-height: 5.85938vw;
  }
  ul li:nth-child(1) h1 {
    margin-top: 5.85938vw;
  }
  ul li:nth-child(2) h1 {
    margin-top: 6.25vw;
  }
  ul li:nth-child(3) h1 {
    margin-top: 6.93359vw;
  }
  .forth-section p {
    font-size: 1.5625vw;
    letter-spacing: 0.09766vw;
    line-height: 2.34375vw;
  }
}

@media screen and (max-width: 1000px) {
  .forth-section {
    height: 248vw;
  }
  .forth-section .text {
    padding: 136.2vw 0 0 3.90625vw;
  }
  .forth-section h1 {
    font-size: 3.4vw;
    letter-spacing: 0.05vw;
    line-height: 6vw;
  }
  ul li:nth-child(1) h1 {
    margin-top: 6vw;
  }
  ul li:nth-child(2) h1 {
    margin-top: 6.4vw;
  }
  ul li:nth-child(3) h1 {
    margin-top: 7.1vw;
  }
  .forth-section p {
    font-size: 1.6vw;
    letter-spacing: 0.1vw;
    line-height: 2.4vw;
  }
}

@media screen and (max-width: 759px) {
  .forth-section {
    height: 436.61972vw;
  }
  .forth-section .text {
    padding: 205.45775vw 0 0 5.28169vw;
  }
  .forth-section h1 {
    font-size: 5.98592vw;
    letter-spacing: 0.08803vw;
    line-height: 10.56338vw;
  }
  ul li:nth-child(1) h1 {
    margin-top: 10.03521vw;
  }
  ul li:nth-child(2) h1 {
    margin-top: 10.56338vw;
  }
  ul li:nth-child(3) h1 {
    margin-top: 10.56338vw;
  }
  .forth-section p {
    font-size: 2.8169vw;
    letter-spacing: 0.17606vw;
    line-height: 4.22535vw;
  }
}

/* #endregion */
/*# sourceMappingURL=style.css.map */